<div class="row">
    <div class="col-sm-12">
      <button class="btn btn-success">New Recipe</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <div class="list-group">
            <a 
                href="#" 
                class="list-group-item clearfix" 
                *ngFor="let xRecipe of recipes"
                style="color:black;">
                <div class="float-left">
                    <h4 class="list-group-item-heading">{{ xRecipe.name }}</h4>
                    <p class="list-group-item-text">{{ xRecipe.description }}</p>
                </div>
                <span class="float-right">
                    <img 
                        src="{{ xRecipe.imagePath }}"
                        alt="{{ xRecipe.name }}" 
                        class="img-responsive" 
                        style="max-height: 50px;">
                </span>
            </a>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>


