body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 62.5%;
    color: #404040;
}

.googlelogo {
    margin-top: 65px;
    margin-left: 600px;
    width: 25%;
}

.searchInput {
    margin-top: 50px;
    margin-left: 390px;
    height: 70px;
    width: 760px;
    font-size: 24px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px -5px;
    padding-left: 20px;
}

.buttons {
    margin-top: 45px;
    margin-left: 540px;
    display: flex;
    justify-content: space-between;
    padding-right: 50em;
}

.buttonItem {
    height: 50px;
    width: 200px;
    border: none;
    font-size: 17px;
    font-weight: bold;

}

header .headerSection {
    display: inline-flex;
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
}

header .headerSection ul {
    display: inline-flex;
}

header .headerSection ul li {
    list-style: none;
    padding-right: 1.5em;
}

header .headerSection ul li img {
    width: 18%;
}



footer {
    margin-top: 120px;
    margin-left:  0px;
    height: 110px;
    widows: 100%;
    background-color: rgb(235, 225, 225);

}

footer div {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

footer .footerSection {
    display: inline-flex;
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
}

footer .footerSection ul {
    display: inline-flex;
}

footer .footerSection ul li {
    list-style: none;
    padding-right: 1.5em;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: aquamarine;
}

a:active {
    color: yellow;
}