body {
    font-family: 'Roboto', sans-serif;
}

.cards {
    width: 1000px;
    margin: 15px auto;
    padding-bottom: 57px;
    background-image: linear-gradient(to bottom right, rgb(216, 215, 215), rgb(187, 187, 187));
}

.cardsInside {
    margin: 0px auto;
    display: flex;
    padding-left: 130px;
}


.LoginCard {
    width: 320px;
    margin-top: 70px;
    background-color: rgb(247, 242, 242);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    /* background-image: url(/images/business-without-degree.jpg);
    opacity: 0.3; */
    text-align: center;
    color: #2060e9e8;
}

h1 {
    padding: 75px 0px 50px;
    font-weight: 100;
}

input {
    width: 190px;
}

.inputLine {
    display: flex;
    margin-top: 15px;
    margin-left: 41px; 
}

.inputIcons {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid #2060e9e8;
    border-radius: 100%;
}

form i {
    margin-top: 4px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] { 
    border: none;
    border-bottom: 1px solid rgb(94, 107, 228);
    background: transparent;
    color: grey;
    font-size: 16px;
    padding-left: 8px;
  }

  .inputLine input[type=password] {
    width: 197px;
  }

.formPart input[type=text],
          input[type=email],
          input[type=password],
          input[type=tel] {
    margin-bottom: 22px;
    padding-left: 0px;
    padding-bottom: 5px;
    width: 100%;
    background-color: transparent;
}

.formPart input[type=submit] {
    margin: 20px 0px 0px 0px;
}

.formPart p {
    font-weight: 600;
}

::placeholder {
    color: rgba(70, 68, 68, 0.5);
}

input[type=submit] {
    width: 240px;
    margin: 40px 0px 0px;
    background-color: #2060e9e8;
    color: lightgrey;
    padding: 8px 20px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
  }

  input[type=button] {
    margin: 8px 0px;
    width: 240px;
    background-color: transparent;
    color: #2060e9e8;
    padding: 8px 20px;
    border: 1px solid #2060e9e8;
    border-radius: 40px;
    font-size: 16px;
  }

  a {
      text-decoration: none;
      color: #2060e978;
  }

  footer {
    padding-top: 7px;
    padding-bottom: 40px;
  }

  .footerSignIn {
      text-align: center;
  }

  ul {
      display: flex;
      padding-left: 89px;
  }

  li {
      list-style-type: none;
      padding: 5px 8px 10px 8px; 
  }

  .footerIcons {
    width: 15px;
    height: 15px;
    margin-right: 20px;
    border: 1px solid #2060e9e8;
    border-radius: 100%;
}

footer i {
    margin-top: -4px;
}

.fa-google-plus-g {
    margin-left: -2px;
} 

.bgBlue {
    background-color: #2060e9e8;
    color: white;
}

/* sign in  ----------------------- */
.signUp {
    width: 320px;
    margin-top: 70px;
    margin-left: 100px;
    background-color: rgb(247, 242, 242);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    /* background-image: url(/images/business-without-degree.jpg);
    opacity: 0.3; */
 
    color: #2060e9e8;
}

.upperPart {
    display: flex;
    background-color: #2060e9e8;
    padding-bottom: 10px;
}

.circle {
    width: 70px;
    height: 70px;
    margin-top: 65px;
    margin-left: 30px;
    border-radius: 100%;
    background-color: #6089e2e8;
    border: 1px solid white;
    border-style: dashed;
}

.imgEdit {
    margin-top: 125px;
    padding-left: 170px;
}

.fa-edit {
    font-size: 18px;
    color: black;
    opacity: 0.2;
}

.formPart {
    padding: 20px 40px 40px 40px;
}

.cAccount {
    margin-top: 15px;
    text-align: center;
}